// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT
//
// Simplified Mac boot/recovery keymap. All modifiers are direct &kp
// bindings (no hold-tap) so that pre-OS boot combos like Cmd+R,
// Option boot picker, and NVRAM reset work reliably.

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │     │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T            &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │     │  H       │  J       │  K       │  L       │  '       │
            &kp A      &kp S      &kp D      &kp F      &kp G            &kp H      &kp J      &kp K      &kp L      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  LSHIFT  │  LCTRL   │  LALT    │  LGUI    │  ESC     │     │  BSPC    │  RGUI    │  RALT    │  RCTRL   │  RSHIFT  │
            &kp LSHFT  &kp LCTRL  &kp LALT   &kp LGUI   &kp ESC          &kp BSPC   &kp RGUI   &kp RALT   &kp RCTRL  &kp RSHFT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp TAB    &kp ENTER        &kp SPACE  &lt 1 DEL
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        num_nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  1       │  2       │  3       │  4       │  5       │     │  6       │  7       │  8       │  9       │  0       │
            &kp N1     &kp N2     &kp N3     &kp N4     &kp N5           &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │     │  N       │  M       │  ,       │  .       │  /       │
            &kp Z      &kp X      &kp C      &kp V      &kp B            &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F1      │  F2      │  F3      │  -       │  \       │     │  |       │  LEFT    │  DOWN    │  UP      │  RIGHT   │
            &kp F1     &kp F2     &kp F3     &kp MINUS  &kp BSLH         &kp PIPE   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans           &trans     &trans
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };
    };
};
